:root {
  --color-beige-claro: #e5e3dc;
  --color-beige: #b1a793;
  --color-beige-transp: #f5f3f1;
  --color-beige-oscuro: #8b7d67;
  --color-beige-oscuro-transp: #a29680;
  --color-texto-oscuro: #29211f;
  --color-texto-claro: #f7f6f5;
  --font-playfair: "Playfair Display", serif;
  --font-sans: "sans-serif";
}

/* Fondo del navbar */
.navbar {
  background-color: var(--color-beige-claro); /* Color beige claro */
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-container img {
  max-height: 80px; /* Tamaño del logo */
}

.logo-container span {
  font-family: var(--font-playfair);
  font-size: 2rem; /* Tamaño del texto del logo */
  font-weight: bold;
  color: var(--color-texto-oscuro); /* Color del texto */
}

/* Enlaces de navegación */
.nav-link {
  color: var(--color-texto-oscuro);
  font-family: var(--font-sans);
  font-size: 1.7rem; /* Tamaño de letra ajustado */
  font-weight: bold;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-beige-oscuro); /* Color al pasar el ratón */
}

/* Responsividad */
@media (max-width: 1024px) {
  .logo-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .logo-container span {
    font-size: 1.5rem; /* Tamaño reducido proporcional */
    margin-top: 0.5rem;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-link {
    font-size: 1.7rem; /* Aumentar el tamaño de letra en pantallas pequeñas */
    margin: 0 0.5rem;
  }
}
