/* VARIABLES EN CSS */
:root {
  --color-beige-claro: #e5e3dc;
  --color-beige: #b1a793;
  --color-beige-transp: #f5f3f1;
  --color-beige-oscuro: #8b7d67;
  --color-beige-oscuro-transp: #a29680;
  --color-texto-oscuro: #29211f;
  --color-texto-claro: #f7f6f5;
  --font-playfair: "Playfair Display", serif;
  --font-sans: "sans-serif";
}

/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* box-sizing sirve para que el contenido no se desborde de las cajas */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ---------------Fuentes y Estilos--------------- */
body {
  font-size: 1.6rem;
  line-height: 2;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.7rem;
}
p {
  font-size: 1.25rem;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

/* ---------------Formulario y Estilos--------------- */

label {
  font-family: var(--font-sans);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-texto-oscuro);
}

input {
  background-color: var(--color-blanco);
  border: 2px solid var(--color-beige);
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  outline: none;
  font-family: var(--font-sans);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-texto-oscuro);
}

input:focus,
textarea:focus {
  border: 2px solid var(--color-negro);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-beige);
}

textarea {
  background-color: var(--color-blanco);
  border: 2px solid var(--color-beige);
  width: 100%;
  height: 9rem;
  padding: 0.5rem;
  outline: none;
  font-family: var(--font-sans);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-texto-oscuro);
  resize: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}
/* ---------------Cards y Estilos--------------- */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  background-color: #f9f9f9;
  border: 1px solid var(--color-beige-oscuro);
  border-radius: 8px;
  overflow: hidden;
  width: 250px; /* Ancho fijo para las tarjetas */
  box-shadow: 0 2px 5px var(--color-beige-claro);
  text-align: center;
  transition: transform 0.3s ease; 
}
.card img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: auto;
  transition: transform 0.3s ease; /* Efecto de zoom en la imagen */
}
.card:hover img {
  transform: scale(1.05); /* Zoom solo en la imagen */
}

.card img, .card video {
  width: 100%; /* Hacer que la imagen/video ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantener la proporción de la imagen/video */
}

/* ---------------Mediaquerys--------------- */
@media (max-width: 767px) {
  .card-container {
    flex-direction: column; /* Tarjetas en una sola columna */
    gap: 10px; /* Espaciado reducido entre tarjetas */
  }

  .card {
    width: 100%; /* Las tarjetas ocupan todo el ancho */
  }
}
.contenido {
  display: flex;
  align-items: center; /* Centra verticalmente las reseñas e imagen */
  justify-content: space-between; /* Espacio entre la imagen y las reseñas */
}

.imagen img {
  max-width: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 20px; /* Espacio entre la imagen y las reseñas */
}

.resenias {
  max-width: 60%; /* Limita el ancho de las reseñas para que no se expandan demasiado */
}

